extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Danielle Luckart

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi, my name is Danielle. Pleased to meet you! I have experience in various languages from C# to C++ to JavaScript. I'm most comfortable in front-end web development, but I'm always willing to branch out and learn more.
            | Treehouse is helping me do just that! As a Treehouse student, I've gained several skills I hope to develop and hone even further as I continue my never-ending journey of learning.
            | I'm also very interested in User Experience Design.
            | Have a position available that I might fit into?
            | Shoot me a message through email or LinkedIn.
            | Thank you!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li GitHub
          li APIs
          li JSON
          li Node.js 
          li Express
          li Pug
        h6 Contact Info

        //- TODO: Add your own contact info
        ul
          li 555-555-1234
          li d.gonso@hotmail.com

        a.button.expanded(target="_blank", href='https://www.linkedin.com/in/danielle-luckart-509633123/') LinkedIn
        a.button.expanded(target="_blank", href='https://github.com/Dani-Gonzo') GitHub
        a.button.expanded(target="_blank", href='https://teamtreehouse.com/daniellegonsalves') Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  